body{
    background-color: #F2E4D8;
heigth: 100%;
wigth:100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
header{
heigth: 10vh;
}
main .cartao{
    background-color: #ffff;
    width: 550px;
    padding: 20px;
    border-radius: 15px;
}
main .cartao img{
    width: 550px;
    border-radius: 15px;
    margin-bottom: 15px;
}
main .cartao h1{
    color: #272725;
    font-size: 28px;
    margin-bottom: 10px;
}
main .cartao h2{
    color:hsl(14, 45%, 36%);
    margin-bottom: 10px;
}
main .cartao p{
    font-size: 14px;
    margin-bottom: 15px;
}
.cartao li{
margin-left: 20px;

}
main .cartao .mini-cartao{
    width: 550px;
    background-color: rgba(184, 39, 159, 0.1);
    border-radius: 8px;
    margin-bottom: 10px;
}
.mini-cartao h3{
    margin-top: 3px;
    margin-left: 5px;
   color:  rgb(138, 25, 119);
   margin-bottom: 10px;
}
.mini-cartao li{
    font-size: 14px;
    margin-left: 20px;
}
.mini-cartao lista{
    margin-bottom: 50px;
}
span{
    font-weight: bold;
}

modo li{
    text-decoration: dec;
}
.mini-cartao2{
    border-top:1px solid #2727257a;
    margin-top: 5px;

}
.mini-cartao2 h2{
    margin-top: 5px;
}
.cartao-nutricao{
    justify-content: space-between;
margin-top: 2px;
border-bottom:1px solid #2727257a;
display: flex;
}
.cartao-nutricao span{
    color:hsl(14, 45%, 36%);
}
.cartao-nutricao2 {
    display: flex;
    justify-content: space-between;
}   
.cartao-nutricao2 span{
    color:hsl(14, 45%, 36%);
}
footer{
    display: none;
    position: fixed;
}
